dist
cabal-dev
*.o
*.hi
*.bc
*.ll
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
.stack-work/
*.log
ERRS
Parser.hs
Version.lhs
wybemk
*.aux
*.bbl
*.log
*.dvi
*.blg
*.lof
*.nav
*.out
*.snm
*.toc
*.vrb
*.synctex.gz
design.pdf
redesign.pdf
TAGS
*.so
cbits.so
test-cases/*~
.DS_Store
# Ignoring binaries/executables generated during testing
test-cases/bar
test-cases/foo
test-cases/func_factorial
test-cases/main_hello
test-cases/main_hello2
test-cases/simple_loop
test-cases/*.bc
Parser.info
miniworkshop.pdf
test-cases/commonsubexpr
test-cases/func_let
test-cases/import
test-cases/multi_out
test-cases/numbers
test-cases/proc_beer
test-cases/proc_yorn
*~
compiler.pdf
wybelibs/wybe.o
