dist
cabal-dev
*.o
*.hi
*.bc
*.ll
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
.stack-work/
*.log
ERRS
Version.lhs
wybemk
*.aux
*.bbl
*.log
*.dvi
*.blg
*.lof
*.nav
*.out
*.snm
*.toc
*.vrb
*.synctex.gz
design.pdf
redesign.pdf
TAGS
*.so
cbits.so
.DS_Store

Parser.info
miniworkshop.pdf

*~
compiler.pdf
wybelibs/wybe.o

# individual parser for testing purposes
ParserTest.hs
ParserTest
test-cases/alias
/TODO.html
README.html

# IDE
.vscode
dist-newstyle
stack.yaml.lock
LOG*
src/c_config
src/CConfig.hs
