*.aux
*.bbl
*.log
*.dvi
*.blg
*.lof
*.nav
*.out
*.snm
*.toc
*.vrb
*.synctex.gz
compiler.pdf
compiler.ps
compiler.html
design.pdf
design.ps
design.html
redesign.pdf
redesign.ps
redesign.html
wybe.pdf
wybe.ps
wybe.html
