*.aux
*.bbl
*.log
*.dvi
*.blg
*.lof
*.nav
*.out
*.snm
*.toc
*.vrb
*.synctex.gz
compiler.pdf
compiler.ps
compiler.html
design.pdf
design.ps
design.html
redesign.pdf
redesign.ps
redesign.html
wybe.pdf
wybe.ps
wybe.html
*.aux
*.bbl
*.log
*.dvi
*.blg
*.lof
*.nav
*.out
*.snm
*.toc
*.vrb
*.synctex.gz
*.fls
*.fdb_latexmk
compiler.pdf
compiler.ps
compiler.html
compiler.dvi
design.pdf
design.ps
design.html
design.dvi
redesign.pdf
redesign.ps
redesign.html
redesign.dvi
wybe.pdf
wybe.ps
wybe.html
wybe.dvi
