*.aux
*.bbl
*.log
*.dvi
*.blg
*.lof
*.nav
*.out
*.snm
*.toc
*.vrb
*.synctex.gz
frege.pdf
frege.ps
frege.html
miniworkshop.pdf
miniworkshop.ps
miniworkshop.html
*.aux
*.bbl
*.log
*.dvi
*.blg
*.lof
*.nav
*.out
*.snm
*.toc
*.vrb
*.synctex.gz
*.fls
*.fdb_latexmk
frege.pdf
frege.ps
frege.html
frege.dvi
miniworkshop.pdf
miniworkshop.ps
miniworkshop.html
miniworkshop.dvi
vaset-2019.pdf
vaset-2019.ps
vaset-2019.html
vaset-2019.dvi
