name: CI (Ubuntu)

on:
    push:
      branches:
      - master
    pull_request:
      branches:
      - master

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: |
        sudo apt-get install llvm
        sudo apt-get install clang
        sudo apt-get install libgc-dev
        sudo apt-get install dwdiff

    # GitHub-hosted runners provide Haskell Stack
    # https://github.com/actions/virtual-environments/blob/master/images/linux/Ubuntu1804-README.md
    # - name: Install Haskell Stack
    #   run: wget -qO- https://get.haskellstack.org/ | sh

    - name: Verify dependencies
      run: |
        dpkg -s llvm
        dpkg -s clang
        dpkg -s libgc-dev
        dpkg -s dwdiff
        llvm-config --version
        llc --version
        clang --version

    # cache Haskell Stack stuff
    - name: Cache stack global package db
      uses: actions/cache@v1
      with:
        path: ~/.stack
        key: ${{ runner.os }}-stack-global-${{ hashFiles('stack.yaml') }}-${{ hashFiles('wybe.cabal') }}
        restore-keys: |
          ${{ runner.os }}-stack-global-${{ hashFiles('stack.yaml') }}
        # drop the cache if stack.yaml has been changed
    - name: Cache stack-installed programs in ~/.local/bin
      uses: actions/cache@v1
      with:
        path: ~/.local/bin
        key: ${{ runner.os }}-stack-programs-${{ hashFiles('stack.yaml') }}-${{ hashFiles('wybe.cabal') }}
        restore-keys: |
          ${{ runner.os }}-stack-programs-${{ hashFiles('stack.yaml') }}
    - name: Cache .stack-work
      uses: actions/cache@v1
      with:
        path: .stack-work
        key: ${{ runner.os }}-stack-work-${{ hashFiles('stack.yaml') }}-${{ hashFiles('wybe.cabal') }}
        restore-keys: |
          ${{ runner.os }}-stack-work-${{ hashFiles('stack.yaml') }}

    - name: Install & build Haskell Stack dependencies
      run: stack build --only-dependencies
    - name: Build
      run: make
    - name: Run tests
      run: make test || (echo "ERRS:" ; cat ERRS ; error "Testing failed")
    - name: Install
      run: sudo make install
